@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background:
    radial-gradient(circle at 20% 0%, rgba(56, 100, 230, 0.25) 0%, transparent 32%),
    radial-gradient(circle at 90% 70%, rgba(32, 57, 141, 0.24) 0%, transparent 25%),
    #020617;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #020617;
}
